<form action="/api/login/post/update/<%= post._id %>" method="POST">
    <table>
        <tr>
            <th><label for="title">Title</label></th>
            <td><input type="text" id="title" name="title" value="<%= post.title %>" required /></td>
        </tr>
        <tr>
            <th><label for="content">Content</label></th>
            <td><textarea id="content" name="content" required><%= post.content %></textarea></td>
        </tr>
        <tr>
            <th><label for="status">Status</label></th>
            <td><input type="text" id="status" name="status" value="<%= post.status %>" required /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn">Update Post</button>
                <a href="/api/login/post/list" class="btn">Back to List</a>
            </td>
        </tr>
    </table>


</form>
<style>
    table {
        width: 50%;
        /* Chiếm 100% chiều rộng của container */
        border-collapse: collapse;
        /* Gộp các viền của bảng */
    }

    td {
        padding: 10px;
        /* Khoảng cách bên trong ô */

        text-align: left;
        /* Căn trái nội dung */
    }

    th {
        background-color: #f2f2f2;
        /* Màu nền cho tiêu đề */
    }

    input[type="text"],
    textarea {
        font-size: 18px;
        /* Kích thước chữ lớn hơn */
        padding: 10px;
        /* Khoảng cách bên trong ô */
        width: 100%;
        /* Chiếm 100% chiều rộng */
        border-radius: 5px;
        /* Bo góc */
        border: 1px solid #ccc;
        /* Viền cho ô */
        box-sizing: border-box;
        /* Đảm bảo padding và border không làm tăng chiều rộng */
    }

    textarea {
        height: 100px;
        /* Chiều cao cho textarea */
    }


    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #2ba8ca;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>